/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root { 
    --main-font: 'Inter-Variable';
    --wght-bold: 715;
    --wght-regular: 410;
    --accent-font: 'PressStart2P';
    --bg-gradient: 
        repeating-linear-gradient(
            90deg,
            #d3d3d3 0px,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        repeating-linear-gradient(
            0deg,
            #d3d3d3 0px,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        linear-gradient(
            180deg,
            #e7e7e7 0%,
            #e7e7e7 0.01%,
            #1a1a1a 100%
        );
    --bg-color: #FFFFFF;
    --button-text-color: #FFFFFF;
    --accent-color: #000000;
    --header-padding: clamp(7.625rem, 7.449rem + 0.75vw, 8.125rem);
    --basic-border: solid 2px #000000;
    --main-title-size: clamp(49px, 4.5vw, 65px);
    --header-text-size: clamp(14px, 1.5972vw, 23px);
}